body{
                margin:0;
            }
            div {
                box-sizing: border-box;
            }
            header{
                font-size: 15px;
                margin-bottom: 75px;
            }
            footer{
/*                 padding:1em;
                margin-top: 75px;
               */
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color:  #fe6f61 ;
                color: white;
                text-align: center;
            }

            header {

                    display: flex;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    flex-wrap: wrap !important;
                    align-content: flex-start !important;
                    background-color:   #fe6f61   ;
                    color: #fff;
                    font-family: 'Merienda', cursive;
                    }

            .container{
                width: 300px;
                overflow: hidden;
                margin: 10px auto 0 auto;

                }
            
            .container span{
                width: 100%;
                display: block;
                text-align: center;
                font-family: sans-serif;
                color: #fff;
                font-size: 25px;
                background: #ff6878      ;
                font-family: 'Merienda', cursive;
                }
            
            .container .box{
                float: left;
                width: 100px;
                height: 100px;
                border: 1px solid #000;
                transition: all .25s ease-in-out;
                font-family: sans-serif; 
                font-size: 85px;
                text-align: center;
                line-height: 100px; 
                cursor: pointer;
                }
            
            .container .box:hover{
                background: rgba(10,10,10,0.5);
                color: #fff
                }
            
            button{
                background:#ff6878;
                color: #fff;
                font-weight: bold;
                border: 1px solid #666;
                cursor: pointer; 
                width: 200px;
                height: 40px; 
                font-size: 22px;
                display: block;
                margin: 10px auto;
                font-family: 'Merienda', cursive;
            }
            
            .win{
                background: #fdf6e1; color: #ff6878;
            }
/*  https://codepen.io/vasanthkay/pen/KVzYzG?editors=001*/
